<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae accusantium corporis quisquam omnis quaerat,
    quas quia aspernatur placeat provident cupiditate molestias rem, minima, tempora nostrum. Amet, molestiae quidem.
    Laborum consequuntur voluptate eveniet eaque, error, aut tempora impedit ex facere doloremque natus repellat.
    Laudantium quibusdam minus, in labore vitae commodi necessitatibus odit non ullam fugiat dolorum, placeat doloribus
    laboriosam aliquam earum! Assumenda quaerat ratione excepturi autem eligendi soluta quibusdam sunt sapiente animi
    odit quis, fuga ducimus deserunt possimus fugit velit iste magnam, provident voluptatem earum consequatur debitis!
    Sapiente asperiores est nesciunt ipsa rerum, consequuntur culpa nihil voluptatibus molestias veritatis blanditiis
    placeat nam deleniti perspiciatis quisquam sequi repellat saepe itaque. Sapiente labore officia voluptatum pariatur
    amet enim veritatis, quae delectus eum voluptates asperiores eveniet, laborum reprehenderit inventore? Cum
    temporibus quo eaque officia. Minus voluptatibus molestiae reprehenderit, itaque, facilis provident quas accusamus
    laboriosam aspernatur recusandae corrupti cupiditate mollitia quae sint quisquam odio quam dolor blanditiis incidunt
    eligendi culpa magni laudantium voluptate? Veniam maxime odio quos? Consectetur eveniet vero, aliquid perferendis
    doloremque obcaecati, minima laudantium perspiciatis ipsum maiores saepe aspernatur. Perspiciatis nihil aspernatur
    ea voluptas iure architecto possimus rem similique eveniet nemo at dolorem reiciendis repudiandae aut quam,
    consectetur ipsa ullam. Nobis, adipisci inventore.</p>


    <%- include("footer") -%>